# Backend
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_password
DB_DATABASE=carpeta_magica

# Dropbox
DROPBOX_APP_KEY=
DROPBOX_APP_SECRET=
DROPBOX_REDIRECT_URL=http://localhost:3000/dropbox/oauth/callback

# Frontend
VITE_API_URL=http://localhost:3000
